<Project>
  <PropertyGroup>
    <!-- 개인 PC의 STS2 설치 경로입니다. 이 파일을 SpireMind.Local.props로 복사한 뒤 실제 경로에 맞게 수정합니다. -->
    <Sts2AssemblyPath>C:\Program Files (x86)\Steam\steamapps\common\Slay the Spire 2\data_sts2_windows_x86_64\sts2.dll</Sts2AssemblyPath>
    <Sts2GameDataPath>C:\Program Files (x86)\Steam\steamapps\common\Slay the Spire 2\data_sts2_windows_x86_64</Sts2GameDataPath>

    <!-- 배포 스크립트가 사용하는 기본 mods 폴더입니다. -->
    <Sts2ModsDir>C:\Program Files (x86)\Steam\steamapps\common\Slay the Spire 2\mods</Sts2ModsDir>
  </PropertyGroup>
</Project>
